nav {
    background-color: #c3073f;
    height: 100px;
    top: 0px;
    text-align: center;
}

body {
    background-color: #1A1A1D;
}

.calc {
    background-color:#4e4e50;
    position: absolute;
    left: 40%;
    height: 400px;
    width: 350PX;
    top: 20%;
}

.btn {
    color: hotpink;
    background-color: indigo;
    /* margin-left: 4%; */
    margin-top: 4%;
    width: 70px;
    height: 40px;
}

.buttons {
    padding-top: 10%;
    padding-left: 20%;
    padding-bottom: 10%;
}

#input {
    background-color: lightcoral;
}

#results {
    background-color: #6f2232;
    position: absolute;
    top: 200px;
    width: 200PX;
}
#int {
    width: 97%;
   position: absolute;
   height: 10%;
   background-color: green;
   font: status-bar;
   font-size: 26px;
   text-align: center;
}

.crumb {
	margin-right: 2em;
	display: inline;
    font-size: larger;
}



#equ {
    background-color: rgb(158, 71, 71);
}

#result-head{
    text-align: center;
}

.qe {
    text-align: center;
    background-color:#4e4e50 ;
}

.reso{
    text-align: center;
    background-color:#4e4e50 ;
}

.uList {
    height: 300px;
    background-color:#950740;
}